server_settings = {
    'host': '0.0.0.0',
    'port': 8000,
    'debug': True
}

db_config = {
    'connections': {
        'default': {
            'engine': 'tortoise.backends.mysql',
            'credentials': {
                'host': '192.168.183.135',
                'port': '3306',
                'user': 'root',
                'password': '6s?f!hgGeWsg123qwe',
                'database': 'xops-sso'
            }
        }
    },
    'apps': {
        'models': {
            'models': ["models.admin"],
            'default_connection': 'default',
        }
    }
}

redis_settings = {
    'REDIS_HOST': '192.168.183.135',
    'REDIS_PORT': '6379',
    'REDIS_PASS': 'cWCVKJ7ZHUK12mVbivUf',
    'REDIS_DB': 10,
    'WHITE_URL_KEY': 'white2ywBHMftXQ4Xmymua7JL5Y',
    'BACK_SERVICE_KEY': 'backYGvJsdsgh69gowQGe7VrVH'
}

jwt_settings = {
    'SECRET': 'pXFb4i%*834gfdh963df718iodGq4dsafsdadg7yI6ImF1999aaG7'
}
